.panel--search {
  @apply flex flex-col items-start;
  .form {
    @apply w-full mt-halfSpacing;
  }
  .form-group {
    @apply flex items-center gap-halfSpacing;
    .btn--green {
      @apply py-[13px];
    }
  }
  .input-container {
    flex: 1 1 auto;
  }
  .input {
    @apply w-full;
  }
  p {
    @apply mt-halfSpacing;
  }
  .btn--search {
    @apply flex items-center gap-2 pl-3 pr-3.5;
    .svg {
      flex: 0 0 20px;
      @apply w-[20px] h-[20px];
      path {
        @apply fill-white;
      }
    }
  }
}

.panel--sidebarFilters {
  .btn--other-filter {
    box-shadow: 0 2px 2px 0 #0000001a;
    @apply bg-white flex items-center gap-1 pl-2 pr-3 py-1.5;
    span {
      @apply text-[#595959];
    }
    svg {
      flex: 0 0 22px;
      @apply w-[22px] h-[22px];
      path {
        @apply fill-[#595959];
      }
    }
  }
  .section-filters {
    &:not(:first-of-type) {
      @apply mt-[20px];
    }
  }
  .section-filters--other-filters,
  .section-filters--remove-filters {
    .buttonsContainer {
      @apply mt-halfSpacing;
    }
  }
  .section-filters--remove-filters {
    @apply pt-halfSpacing border-t-[1px] border-solid border-gray-200;
    .btn--remove-filters {
      @apply px-4 py-2;
    }
  }
}

.rating-filter {
  @apply inline-flex items-center -ml-1 mt-1;
  .btn--star {
    @apply p-0.5;
  }
  .svg--stars {
    flex: 0 0 24px;
    @apply w-[24px] h-[24px] cursor-pointer;
    path {
      @apply duration-200;
    }
    &.svg--hoverState path {
      fill-opacity: 0.5 !important;
      @apply !fill-orange;
    }
    &.svg--selectedState path {
      fill-opacity: 1 !important;
      @apply !fill-orange;
    }
  }
}

.buttonsContainer {
  @apply flex items-center gap-2 flex-wrap;
}
